################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source-code/.vs/source-code/v15/Server/sqlite3
